@import "tailwindcss";

:root {
  /* Màu sắc cho giao diện sáng */
  --background: #ffffff;  /* Màu nền sáng */
  --foreground: #171717;  /* Màu chữ tối */
  --link-color: #1a73e8;  /* Màu cho liên kết */
  --button-background: #007bff;  /* Màu nền button */
  --button-text: #ffffff;  /* Màu chữ button */
}

/* Áp dụng các biến màu sắc vào body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Cấu hình cho các button */
button {
  background-color: var(--button-background);
  color: var(--button-text);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--link-color); /* Thay đổi màu button khi hover */
}

/* Cấu hình cho các liên kết */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

/* globals.css */
.ant-message {
  z-index: 9999 !important;
}
